<!DOCTYPE html>
<html lang="en">
<head>
  	<title>Curriculum #Vitae ** Sunny **</title>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="/images/sunny.png"/>
  	<link href="/css/bootstrap.min.css" rel="stylesheet">
  	<script src="/js/93bdcfd736.js" crossorigin="anonymous"></script>
  	<link href="/css/console.css" rel="stylesheet">
</head>
<body>
	<div class="main">
		<div class="container-fluid">
			<div class="text-center mt-5">
				<button class="btn bg-dark text-white">
					<i class="fa fa-usd" aria-hidden="true"></i> 
					Terminal
				</button>
				<button class="btn bg-light">
					<i class="fa fa-desktop" aria-hidden="true"></i> 
					GUI
				</button>
			</div>
		</div>
		<div class="container rounded-3 mt-5 mb-4 terminalConsole">
			<div class="row terminalWindowTabColor terminalWindowTab">
				<div class="col-md-3">
					<ul class="list-group list-group-horizontal terminalControls">
					  	<li class="list-group-item"><i class="fa-solid fa-circle"></i></li>
					  	<li class="list-group-item"><i class="fa-solid fa-circle"></i></li>
					  	<li class="list-group-item"><i class="fa-solid fa-circle"></i></li>
					  	<div class="text-center col-md-2 d-lg-none d-sm-block p-2 terminalName">
				 			Linux/Terminal	
						</div>			 
					</ul>	
				</div>
			 	<div class="text-center col-md-6 d-none d-lg-block pt-2 terminalName">
			 		Linux/Terminal		
				</div>	
				<div class="col-md-3"></div>
			</div>
			<br/>
			<p class="textWhite">Last login: <span id="nowDate"></span> on console</p>
			<p class="textWhite">MacBook-Pro:~ $ <span class="_warning">#Warning:</span>
				Hi @all, My Name is Sunny Singh This is my curriculum vitae in terminal <span class="_dev">#look.</span>
			</p>
			<div id="log">
				:~ $ 
				<input class="takeInput" id="takeInput" onfocus="if(typeof moveCursorToEnd != 'undefined') moveCursorToEnd(this, true)" name="igname" type="text" maxlength="40" autofocus="autofocus" value="./sunnyResume.sh">
				<div class="text-center mt-5">
					<img src="./images/press_dark.png" class="pressEnter press_text img-fluid">
					<img src="./images/enter_dark.png" class="pressEnter enter_text img-fluid">
					<h4 class="textBold">To Get Started Or (Tap on press enter if you are mobile user.)</h4>
				</div>
				<br/>
				<br/>
			</div>
			<div id="resumeHtml"></div>
		</div>
	</div>
</body>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/console.js"></script>
</html>