:root {
	--warningColor: #ffc107;
	--darkColor   : #393b3c;
	--lightColor  : #eeeeee;
}
.terminalWindowTabColor {
	background-color: var(--darkColor);
}
body {
	margin:0;
	padding: 0;
	background: url("/images/console_bg.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: top;
	position: relative;
	height: 100%;
	overflow: hidden;
}
/*colors*/
.textWhite {
	color: #FFF;
}
/*end colors*/

.main {
	position: relative;
	min-height: 100%;
	overflow: auto;
	height: 100vh;
}
a{
	color: #FFF;
}
a:hover {
	text-decoration: underline;
	color: #FFF;
}
._warning {
	color: var(--warningColor);
}
._dev {
	color: #3d6ac9;	
}
.takeInput {
	background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid yellow;
  color: green;
}
.float-left{
	float: left;
}
.commands li{
	color: green;
  position: relative;
}
.commands li:hover {
  text-decoration: underline;
	cursor: pointer;
}
.commands li:hover::before{
  content: '$';
  color: #fff;
  position: absolute;
  width: 8px;
  height: 8px;
  top: calc(50% - -7px);
  left: -14px;
  transform: translateY(-50%) rotate(182deg);
}
.ulWidth li {
	margin-left: 32px;
	cursor: pointer;
	color: green;
  position: relative;
}
.ulWidth li:hover {
  text-decoration: underline;
	cursor: pointer;
}
.ulWidth li:hover::before{
  content: '$';
  color: #fff;
  position: absolute;
  width: 8px;
  height: 7px;
  top: calc(50% - -7px);
  left: -14px;
  transform: translateY(-50%) rotate(182deg);
}
.borderGreen {
  border-color: green;
} 
.borderGreen th, td {
	color: #fff;
	font-weight: normal;
	font-size: 14px;
}
.commandRun {
	color: orange;
}
.responceTimeInMs {
	color: yellow;
	font-size: 12px;
}
.badge {
	font-size: 14px;	
}
.textBold {
	font-weight: 900;
	font-size: 1.4rem;
}
.pressEnter {
	cursor: pointer;
}
.terminalConsole {
	box-shadow: 2px 1px 9px 0px;
	background-image: linear-gradient(to right bottom, #1e1e1e, #181818, #121212, #0a0a0a, #000000);
}
.terminalWindowTab {  
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.terminal-body {
	padding: 15px;
	color: white;
	font: 15px/1.5 Monaco, MonoSpace;
}
.terminal-body p{
	margin: 0;
}
.terminalControls li{
	margin: 0px;
	border:none;
	--bs-list-group-bg: var(--darkColor);
}
.terminalControls li:nth-child(1) {
	color: #ee514b;
}
.terminalControls li:nth-child(2) {
	color: #f7c446;
}
.terminalControls li:nth-child(3) {
	color: #60cd44;
}
#log {
	font-size: 1em;
	color: orange;
}
.list-group{
	--bs-list-group-item-padding-x: 0.6rem !important;
}
.terminalName{
	font-weight: bold;
	color: var(--lightColor);
}